<!--
<app-button placeholder="Agregar" estilo="button-primario"></app-button>
<app-marcador nombreMarcador="L"></app-marcador>
-->
<div class="main">
    <section class="card">
        <header class="card-barra">
            <div class="header-informacion">
                <img src="../assets/img/usuario.jpg">
                <h1 class="card-barra-texto1">Nazareno Peloso</h1>
            </div>
            <div class="header-informacion">
                <i class="fas fa-stopwatch card-barra-icono"></i>
                <h1 class="card-barra-texto2">170 minutos</h1>
            </div>
        </header>
        <div class="card-contenido card-contenido-usuario">
            <div class="box-container mis-datos">
                <h4 class="form-subtitulo">Mis datos personales</h4>
                <div class="form-section">
                    <div class="inputSeparador">
                        <label class="inputLabel">Nombre y apellido</label>
                        <input class="inputBase campo" type="text" [(ngModel)]="usuario.datos" name="datos" placeholder="Ingrese nombre y apellido" required="required">
                    </div>
                </div>
                <div class="flexRow">
                    <div class="flexColumn">
                        <div class="inputSeparador">
                            <label class="inputLabel">Nombre de usuario</label>
                            <input class="inputBase campo" type="text" [(ngModel)]="usuario.username" name="username" placeholder="Ingrese nombre de usuario" required="required">
                        </div>
                        <div class="inputSeparador">
                            <label class="inputLabel">Frec. cardíaca en reposo</label>
                            <input class="inputBase campo" type="text" [(ngModel)]="usuario.frecuencia" name="frecuencia" placeholder="Ingrese frecuencia" required="required">
                        </div>
                    </div>
                    <div class="flexColumn">
                        <div class="inputSeparador">
                            <label class="inputLabel">Fecha de nacimiento</label>
                            <input class="inputBase campo" type="date" [(ngModel)]="fecha" name="fecha" required="required">
                        </div>
                        <div class="inputSeparador">
                            <label class="inputLabel">Porcentaje de intensidad</label>
                            <input class="inputBase campo" type="text" [(ngModel)]="usuario.porcentaje" name="porcentaje" placeholder="Ingrese porcentaje" required="required">
                        </div>
                    </div>
                </div>
                <h4 class="form-subtitulo">Grupos Musculares de preferencia</h4>
                <div class="posicion-marcadores">
                    <app-marcador *ngFor="let grupo of gruposMusculares" nombreMarcador="{{grupo}}"></app-marcador>
                </div>
                
            </div>
            <div class="box-container dias-de-entrenamiento">
                <h4 class="form-subtitulo">Dias de entrenamiento</h4>
                <div class="dias-de-entrenamiento">
                    <app-marcador *ngFor="let dia of dias" nombreMarcador="{{dia}}"></app-marcador>
                </div>
                <div class="tiempo-minutos">
                    <i class="fas fa-stopwatch header-tiempo"></i>
                    <h3 class="header-tiempo">Minutos</h3>
                </div>
                <input class="inputBase input-minutos campo" type="number">
            </div>
            <div class="box-container">
                <h4 class="form-subtitulo">Hola buenas tardes</h4>
            </div>
            
        </div>
    </section>
</div>