<!--
<app-button placeholder="Agregar" estilo="button-primario"></app-button>
<app-marcador nombreMarcador="L"></app-marcador>
-->
<section class="contenedor">
    <header class="ventana-title">
        <div class="header-informacion">
            <img src="../assets/img/usuario.jpg">
            <h2 class="nombre">Nazareno Peloso</h2>
        </div>
        <div class="header-informacion">
            <i class="fas fa-stopwatch header-tiempo"></i>
            <h3 class="header-tiempo">170 minutos</h3>
        </div>
    </header>
</section>