<div class="main">
  <div class="card">
      <div class="card-barra">
          <h1 class="card-barra-texto1">Resultados de busqueda</h1>
          <div class="card-barra-right">
              <i class="fas fa-search card-barra-icono"></i>   
              <p class="card-barra-texto2">Total:5</p>
          </div>
      </div>
      <div class="card-contenido card-contenido-rutinas">
          <div class="info-rutina">Esto es una rutina buscada</div>
          <div class="info-rutina">Esto es una rutina buscada</div>
          <div class="info-rutina">Esto es una rutina buscada</div>
          <div class="info-rutina">Esto es una rutina buscada</div>
          <div class="info-rutina">Esto es una rutina buscada</div>
      </div>
  </div>
</div>