                                            /*TAG RAIZ*/
:root{
    --button-secondary-color:rgb(223, 66, 118);
    --color-primario:orange;
    --color-secundario:#ffaa1b;
    --height-header: 10%;
    --height-div-rutina:7%;
    --height-form-primary:78%;
    --height-footer:8%;
    --letra-primario: white;
    --letra-subtitulo: black;
    --letra-input:grey;
    --tamaño-h1: 1.5rem;
    --tamaño-h3: 1.5em;
    --tamaño-h4: 1.1em;
}

                                        /*SELECTORES POR ELEMENTO*/
body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

button{
    border-radius: 0.5em;
    height: 2em;
}

footer{
    display: flex;
    justify-content: center;
    background-color: var(--color-secundario);
    color: var(--letra-primario);
    height: var(--height-footer);
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 10px;
}

header{
    background-color: var(--color-secundario);
    color: var(--letra-primario);
    font-size: var(--tamaño-h1);
    font-family: 'Lato', sans-serif;
    height: var(--height-header);
    display: flex;
    align-items: center;
    padding: 2rem;    
}

h3{
    font-size: var(--tamaño-h3);
}

h4{
    font-size: var(--tamaño-h4);
}

h3{
    margin:0.5em 0;
}

h3,h4{
    font-family: 'Roboto', sans-serif;
    color: var(--letra-subtitulo);
}

label{
    display: block;
    margin: 0.3em 0em;
    color: var(--letra-input);
    font-family: 'Roboto';
}

td{
    height: 2.5em;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em;
}

table{
    border: 0.1em solid gray;
}

                                            /*SELECTORES POR ID*/
#img-corazon{
    height: 3em;
    width: 4em;
}

#img-cronometro{
    height: 2.5em;
    width: 2.5em;
    margin-left: 3.5em;
}

                    /*SELECTORES POR CLASE USANDO METODOLOGIA BEM (BLOQUE-ELEMENTO-MODIFICADOR*/
.div__p{
    font-size: 1.5em;
    font-weight: 800;
}

.div-rutina{
    display: flex;
    justify-content: space-between;
    background-color: dimgrey;
    color: var(--letra-primario);
    font-size: 1.3rem;
    height: var(--height-div-rutina);
    padding: 1rem;
    align-items: center;
}

.div-rutina__h4,.div-rutina__p{
    display: inline-block;
    color: var(--letra-primario);
}

.footer__img{
    height: 30px;
    width: 30px;
    margin: 8px;
}

.form{
    background-color:#F6E5E9;
    display: flex;
    height: var(--height-form-primary);
    flex-direction: column;
    justify-content: space-around;
    font-size: 1rem;
}

.footer__div,.form__button{
    display: flex;
    align-items: center;
}

.form__button{
    justify-content:space-around;
    padding: 1.5em 6em;
}

.form__button--primary,.form__button--secondary{
    padding: 0.25em 0.5em;
    font-family: 'Georama', sans-serif;
}

.form__button--secondary{
    color: var(--button-secondary-color);
    border-color: rgb(223, 66, 118);
}

.form__button--primary{
    background-color: var(--color-primario);
    color: var(--letra-primario);
    border-color: var(--color-primario);
}

.section-flex{
    display: flex; 
    flex-direction: column;
    margin: 1em;
    justify-content: space-between;
    height: 35%;
    width: 94%;
}

.section__input{
    width: 100%;
    height: 2.5em;
    font-family: 'Fira Code', monospace;
    border: 0.1em solid var(--color-primario);
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.section__div--estadistico{
    display: flex;
    margin-top: 0.5em;
    align-items: center;
}
.section__grupos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section__grupos--card{
    background-color: var(--color-primario);
    width: fit-content;
    height: 2em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: var(--letra-primario);
    font-family: 'Roboto', sans-serif;
    padding: 0 0.5em;
}

.table-head__fila{
    font-weight: 700;
    background-color:#e9ecec;
}

.table-body__fila{
    text-align: center;
    border-color: black;
    background-color: #f2f4f7;
}
