
label{
    display: block;
    margin: 0.3em 0em;
    font-family: 'Roboto';
    font-weight: 600;
}

td{
    height: 2.5em;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em;
}

input,select{
    width: 100%;
    height: 3em;
    border: 0.1em solid var(--color-primario);
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}

input,label,select{
    font-size: 1.5em;
}

table{
    border: 0.1em solid gray;
    width: 100%;
}
                                            

.ejercicios__h2{
    margin:0.5em 0;
    font-family: Roboto,sans-serif;
    font-size: 1.8em;
}

                                            /*SELECTORES POR ID*/
.corazon{
    height: 3em;
    width: 4em;
}

.cronometro{
    height: 2.5em;
    width: 2.5em;
    margin-left: 3.5em;
}

                    /*SELECTORES POR CLASE USANDO METODOLOGIA BEM (BLOQUE-ELEMENTO-MODIFICADOR*/


.rutina-creador{
    display: flex;
    justify-content: space-between;
    background-color: dimgrey;
    font-size: 1.8em;
    height: var(--height-div-rutina);
    padding: 1rem;
    align-items: center;
}

.rutina-creador__h4,.rutina-creador__p{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.rutina-creador__h4{
    font-size: 1.5em;
}

.rutina-creador__p{
    font-size: 1em;
}

.form{
    
    display: flex;
    height: var(--height-form-primary);
    flex-direction: column;
    justify-content: space-around;
}

.footer__div,.form__button{
    display: flex;
    align-items: center;
}

.registro,.ejercicios,.gruposMusculares{
    display: flex; 
    flex-direction: column;
    margin: 0.5em 1em;
    margin-bottom: 0.25em;
    justify-content: space-between;
    width: 94%;
}

.gruposMusculares{
    height: 20%;
    margin-left: 1.5em;
}

.ejercicios{
    height:35%
}

.section__input{
    width: 100%;
    height: 2.5em;
    border: 0.1em solid var(--color-primario);
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}

.estadistico{
    display: flex;
    margin-top: 0.5em;
    align-items: center;
}

.estadistico__p{
    margin:0.5em;
    font-family: Roboto,sans-serif;
    font-size: 1.3em;
    font-weight: 600;
}

.gruposMusculares__div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 3em;
}

.gruposMusculares__h4{
    font-size: 1.5em;
    font-weight: 600;
    font-family: Roboto,sans-serif;
    margin: 0.5em 0em;
}

.gruposMusculares__div--card{
    background-color: var(--color-primario);
    height: 3em;
    width: 10em;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: var(--letra-primario);
    font-family: 'Roboto', sans-serif;
    margin: 1em;
}

.table-head__fila{
    font-weight: 700;
    background-color:#e9ecec;
    font-size: 1.5em;
}

.table-body__fila{
    text-align: center;
    border-color: black;
    background-color: #f2f4f7;
    font-size: 1.3em;
}

.table-head__fila,.table-body__fila{
    font-family:Roboto,sans-serif;
}

/*ESTO ES TEMPORAL HASTA QUE SAQUEMOS LA PROPIEDAD POSITION DEL SELECTOR FOOTER,
 EN ESTILOS GENERALES*/
#footer{
    position: relative;
}