*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    min-height: 100%;
    position:relative
}

.main {
    /* padding-top: 124px; */
    display: flex;
    justify-content: center;
    width: 100%;
}

:root{
    --color-primario:#003A64;
    --color-secundario:#54A2D2;
    --color-terciario:#A9CEE8;
    --color-cuaternario:#E1ECF0;
    --color-quinario: white;
    --color-auxiliar1:rgb(111, 133, 133);
    --footer-height:88px;
}

body {
    background-color: var(--color-quinario);
    height: 100%;
    margin-bottom: 88px;
    margin-top: 124px;
    /* min-height: 100vh; */
    /* width:100%; */
    
}

app-card{
    width: 100%;
}

/*botones*/

.button-primario,
.button-secundario,
.button-login,
.button-mas{
    background-color:var(--color-primario) ;
    border: none;
    color:var(--color-quinario);
    padding: 1em 1.4em;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5rem;
    box-shadow: 0 0.5em 0.5em 0 rgba(0,0,0,0.24);
    font-family: "Roboto",sans-serif;
}

.button-secundario{
    background-color:var(--color-quinario);
    color: var(--color-primario);
    border-style: solid;
    border-width: 0.2rem;    
}

.button-secundario > a{
    text-decoration: none;
    color: var(--color-primario);
}

.button-login{
    background-color: var(--color-secundario);
}

.button-secundario:hover{
    background-color: rgb(209, 202, 202);
}

.posicion-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 100%;
}

button:active{
    transform: scale(0.9);
}

.button-primario:hover,
.button-login:hover,
.button-mas:hover{
    background-color: #286C96;
}

/*input*/

.inputBase{
    width: 100%;
    height: 2.3em;
    border: 0.5rem solid var(--color-primario);
    border-radius: 0.8em;
    padding-left: 1em;
    font-size: 1.7rem;
    color:grey;
}

.inputBase:focus{
    outline: none;
}


.inputSeparador{
    margin-bottom: 2rem;
}

.campo{
    border-style: solid;
    border-width: 0.28em;
    border-color: var(--color-primario);
    border-radius: 1.3em;
}

