*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    min-height: 100%;
    position: relative;
}

:root{
    --color-primario:#003A64;
    --color-secundario:#54A2D2;
    --color-terciario:#A9CEE8;
    --color-cuaternario:#E1ECF0;
    --color-quinario: white;
    --color-auxiliar1:rgb(111, 133, 133);
}

body {
    background:var(--color-cuaternario);
    font-family: "Roboto",sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    min-width: 385px;
}
