section {
  height: 100%;
}

img {
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
}

.nombre {
  font-size: 3rem;
}

.encabezado {
  gap: 20px;
}

.header-informacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header-tiempo{
  font-size: 2rem;
}