section {
  height: 100%;
}

img {
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
}

.nombre {
  font-size: 3rem;
}

.encabezado {
  gap: 20px;
}

.header-informacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header-tiempo {
  font-size: 2rem;
}

.form-informacion-personal{
  display: flex;
  flex-direction: column;
}

.form-informacion-campos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* ========================================================= */

/*                    MODO MOBILE */

/* ========================================================= */

@media (max-width:400px) {
  section {
    margin-top: 0;
  }
  .card {
    min-width: 100%;
  }
  .encabezado {
    border-radius: 0;
    font-size: 1rem
  }
}