
@media(min-width:769px){
    .card{
        border-radius: 1rem;
        border-style: solid;
        border-color: var(--color-auxiliar1);
        box-shadow: 0 0.5em 0.5em 0 rgb(0 0 0 / 24%);
    }
}

div>p {
    font-size: 2rem;
    margin-top: 5px;
}

table{
    border: 0.1em solid gray;
    border-collapse: collapse;
    flex-grow: 1;
    font-size: 13px;
    text-align: center;
}

table,.rutina-estadisticas{
    align-self: center;
    width: 100%;
    max-width: 500px;
}

td{
    height: 2.5em;
    padding: 0.5em;
}

.contenedor-tiempo{
    display: flex;
    justify-content:flex-end ;
}

.form-subtitulo {
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    margin-top:1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.subtitulo__p{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.subtitulo__p{
    font-size: 1em;
}

.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 769px;
    align-self: center;
    /*    margin-top: 7%;*/
}

.card-title {
    background-color: gray;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    color: var(--color-quinario);
}

.box-container {
    min-width: calc(759px/2);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    background-color: var(--color-cuaternario);
    padding: 20px;
}

.inputLabel{
    font-size: 2rem;
    margin-bottom: 5px;
}

.posicion-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 100%;
}
.rutina-estadisticas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1em;
    margin-top: 0.5em;
}

.rutina-estadisticas__p{
    margin:0.5em;
    font-size: 1.2em;
    font-weight: 600;
    width: 35%;
}

.table-head__fila{
    font-weight: 700;
    background-color: var(--color-primario);
    color: var(--color-quinario);
    font-size: 1.5em;
}

.table-body__fila{
    text-align: center;
    border-color: black;
    background-color: #f2f4f7;
    font-size: 1.3em;
}