<section class="contenido-flex">
  <header class="ventana-title">
    <div class="header-informacion">
      <h2 class="nombre">{{ nombreRutina }}</h2>
    </div>
    <div class="header-informacion">
      <h3 class="nombre">{{ creadorRutina }}</h3>
    </div>
  </header>
  <app-card>
    <div class="box-container">
      <div>
        <label class="palabra">Nombre</label>
        <input type="text" name="nombre" class="inputBase" placeholder="Ingrese nombre" required="required" />
      </div>
      <div>
        <label class="palabra">Descripcion</label>
        <input type="text" name="descripcion" class="inputBase" placeholder="Ingrese descripcion" required="required" />
      </div>
      <div>
        <label class="palabra">Estrategia de edicion</label>
        <app-menuDesplegable></app-menuDesplegable>
      </div>
    </div>

    <div class="box-container">
      <p class="form-subtitulo">Ejercicios</p>
      <table class="table" border="1">
        <thead>
          <tr class="table__tr">
            <td class="table-head__fila">Nombre</td>
            <td class="table-head__fila">Minutos</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ejercicio of ejercicios" class="table__tr">
            <td href="/runapp-grupo3/src/rutinas.html" class="table__td">{{ejercicio.nombre}}</td>
            <td class="table__td">
              <div class="contenedor-tiempo">
                <p id="minutos">{{ejercicio.minutosDeDescanso}}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="rutina-estadisticas">
        <i class="fas fa-heartbeat"></i>
        <p class="rutina-estadisticas__p">200 PPM</p>
        <i class="fas fa-stopwatch"></i>
        <p class="rutina-estadisticas__p">63'</p>
        <div>
          <div class="button-mas-container">
            <button class="button-mas">+</button>
          </div>
        </div>
      </div>
      <p class="form-subtitulo">Grupos Musculares</p>
      <div class="grupos-flex">
        <div class="form-section-grupoM" *ngFor="let grupoMuscular of gruposMusculares">
          <app-marcador nombreMarcador="{{grupoMuscular}}"></app-marcador>
        </div>
      </div>
    </div>

    <div class="posicion-botones">
      <button class="button-secundario" (click)="redirigirCancelar">Cancelar</button>
      <button class="button-primario" (click)="redirigirGuardar">Guardar</button>
    </div>
  </app-card>
</section>

<!-- <body>
  <section class="card">
    <div class="card-title">
      <p class="p-default">{{nombreRutina}}</p>
      <div>
        <i class="fas fa-stopwatch"></i>
        <p class="subtitulo__p">{{creadorRutina}}</p>
      </div>
    </div>
    <div class="box-container">
      <label class="inputLabel">Nombre</label>
      <app-input placeholder="Ingrese nombre"></app-input>
      <label class="inputLabel">Descripcion</label>
      <app-input placeholder="Ingrese descripcion"></app-input>
      <label class="inputLabel">Estrategias de edicion</label>
      <app-input placeholder="Ingrese estrategia de edicion"></app-input>
    </div>
    <div class="box-container">
        
          <p class="form-subtitulo">Ejercicios</p>
          <table border="1">
            <thead>
                <tr>
                    <td class="table-head__fila">Nombre</td>
                    <td class="table-head__fila">Minutos</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td href="/runapp-grupo3/src/rutinas.html" class="table-body__fila">Isquiotibiales</td>
                    <td class="table__fila--flex">
                        <div class="contenedor-tiempo">
                            <p id="minutos">24</p> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
      



    </div>
  </section>
</body> -->
