
label{
    display: block;
    margin: 0.3em 0em;
    font-family: 'Roboto';
    font-size: 1.5rem;
}

div>p{
    font-size: 2rem;
    margin-top: 5px;
}

p>span{
    font-weight: 600;
}

.flex-container{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
}

.div-checkbotton{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
    margin: 1em 0;
    gap: 0.5rem;
}

@media (min-width:401) and (max-width:768px){
    .formu{
        margin-top: 10px;
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.registro-actividad{
    flex-direction: column;
    margin: 1em;
    justify-content: space-between;
    height: 75%;
    width: 94%;
}

.subtitulo{
    display: flex;
    justify-content: space-between;
    background-color: dimgrey;
    font-size: 1.8em;
    height: var(--height-div-rutina);
    padding: 1rem;
    align-items: center;
}

.subtitulo__h4,.subtitulo__p{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.subtitulo__h4{
    font-size: 1.5em;
}

.subtitulo__p{
    font-size: 1em;
}
