/*VER SI PODEMOS ARREGLAR ESTO*/

@media (max-width: 768px){
    #grupo-ejercicio{
        display: none;
    }    
}

@media (min-width:769px){
    .card-ejercicios{
        margin: 20px 200px;
        max-width: 96%;
    }
}

label{
    display: block;
    margin: 0.3em 0em;
    font-family: 'Roboto';
    font-size: 1.5rem;
}

div>p{
    font-size: 2rem;
    margin-top: 5px;
}

p>span{
    font-weight: 600;
}

#grupo-ejercicio{
    margin-left: 20rem; 
    margin-top: 5px;
}

.check__input{
    height: 20px;
    width: 30px;
    background-color: #eee;
}

.flex-container{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
}

.div-checkbotton{
    display: flex;
    align-items: center;
    font-size: 2em;
    margin: 1em 0;
    gap: 0.5rem;
}

@media (min-width: 401px){
    .registro-actividad {
        width: 60%;
    }
}

.registro-actividad{
    flex-direction: column;
    margin: 1em;
    justify-content: space-between;
    height: 75%;
    width: 94%;
}

.subtitulo{
    display: flex;
    justify-content: space-between;
    background-color: dimgrey;
    font-size: 1.8em;
    height: var(--height-div-rutina);
    padding: 1rem;
    align-items: center;
}

.subtitulo__h4,.subtitulo__p{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.subtitulo__h4{
    font-size: 1.5em;
}

.subtitulo__p{
    font-size: 1em;
}


