
.container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    gap:1.5rem;  
    margin-top:14em;  
}

/* body{
    background-color:var(--color-cuaternario);
} */

.titulo{
    font-family: 'Yeseva One', cursive; 
    font-size: 5em;
    color:var(--color-primario);   
}

.campo{
    display: flex;
    justify-content:center;
    border-style: solid;
    border-width:0.8em;
    border-color:var(--color-primario) ;
    border-radius: 1.7em;
    margin-top:1.5em;
    margin-bottom:1.5em;
    background-color:var(--color-primario); 
}

.fas.fa-user,.fas.fa-key{
    width:20%;
    height: auto;
    font-size:2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color:var(--color-primario);
    color:var(--color-quinario); 
    border-left: 0.8em;       
}

label{
    text-align: left;
    font-size:2.2em;
}

button{
    background-color:var(--color-secundario) ;
    border: none;
    color:var(--color-quinario);
    padding: 1em 3em;
    text-align: center;
    font-size: 1.8em;
    border-radius: 5px;
    box-shadow: 0 0.5em 0.5em 0 rgba(0,0,0,0.24);
}

button:hover{
    background-color:#286C96;   
}

input{
    width: 85%;
    padding: 0.5em;
    border-width: 0;
    border-bottom-right-radius: 0.6em;
    border-top-right-radius: 0.6em;
    font-size: 2em;
}

.form_div{
    width: 80%;     
}


