*{
    margin:0;
    padding:0;
}

.container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    gap:1.5rem;    
}

.titulo{
    font-family: 'Yeseva One', cursive; 
    font-size: 2.3em;
    color:var(--color-primario);   
}

.campo{
    display: flex;
    justify-content:center;
    border-style: solid;
    border-width:0.4em;
    border-color:var(--color-primario) ;
    border-radius: 0.6em;
    margin-top:0.5em;
    margin-bottom:1.5em;
    background-color:var(--color-primario);  
}

.fas.fa-user,.fas.fa-key{
    width:20%;
    height: auto;
    font-size:1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color:var(--color-primario);
    color:var(--color-cuaternario); 
    border-left: 0.8em;       
}

label{
    text-align: left;
    font-size:1.2em;
}

button{
    background-color:var(--color-terciario) ;
    border: none;
    color:var(--color-cuaternario);
    padding: 1em 2em;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 0 0.5em 0.5em 0 rgba(0,0,0,0.24);
}
button:hover{
    background-color:#286C96;   
}

input{
    width: 85%;
    padding: 1em;
    border-width: 0;
    border-bottom-right-radius: 0.6em;
    border-top-right-radius: 0.6em;
    font-size: 1.2em;
}

.form_div{
    width: 80%;     
}
