
label{
    display: block;
    margin: 0.3em 0em;
    font-family: 'Roboto';
    font-weight: 600;
}

input,select{
    width: 100%;
    height: 3em;
    border: 0.1em solid var(--color-primario);
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}

input,label,select{
    font-size: 1.5em;
}

table{
    border: 0.1em solid gray;
    width: 100%;
}

td{
    height: 2.5em;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em;
}

.rutina-subtitulo{
    display: flex;
    justify-content: space-between;
    background-color: dimgrey;
    font-size: 1.8em;
    height: var(--height-div-rutina);
    padding: 1rem;
    align-items: center;
}

.rutina-subtitulo__h4,.rutina-subtitulo__p{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.rutina-subtitulo__h4{
    font-size: 1.5em;
}

.rutina-subtitulo__p{
    font-size: 1em;
}

/*REVISAR ESTO*/
.rutina-ejercicios{
    height:35%
}

.rutina-registro,.rutina-ejercicios{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 100%;
}

.rutina-ejercicios__h2{
    margin:0.5em 0;
    font-family: Roboto,sans-serif;
    font-size: 1.8em;
}

.rutina-estadisticas{
    display: flex;
    margin-top: 0.5em;
    margin-left: 2em;
    align-items: center;
    font-size: 1.4em;
}

.rutina-estadisticas__p{
    margin:0.5em;
    font-family: Roboto,sans-serif;
    font-size: 1.3em;
    font-weight: 600;
}

.gruposMusculares__div{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 2rem;
    margin-top: 1em;
}

.gruposMusculares__h4{
    font-size: 1.5em;
    font-weight: 600;
    font-family: Roboto,sans-serif;
    margin: 0.5em 0em;
}

.gruposMusculares__div--card{
    background-color: var(--color-primario);
    height: 2.2em;
    width: 6em;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    color: var(--color-quinario);
    font-family: 'Roboto', sans-serif;
}

.table-head__fila{
    font-weight: 700;
    background-color:#e9ecec;
    font-size: 1.5em;
}

.table-body__fila{
    text-align: center;
    border-color: black;
    background-color: #f2f4f7;
    font-size: 1.3em;
}

.table-head__fila,.table-body__fila{
    font-family:Roboto,sans-serif;
}

.fa-heartbeat, .fa-stopwatch{
    font-size: 2rem;
}

.fa-heartbeat{
    color: rgb(184, 0, 0);
}
