@media(min-width:401px){

    thead>tr{
        text-align: center;
    }

    .gruposMusculares__div{
        padding-left: 50px;
    }
}

@media(min-width:769px){

    section.registro{
        width: 40%;
        display: inline-block;
    }

    section.ejercicios,section.gruposMusculares{
        display: inline-block;
        width: 50%;
    }

    .gruposMusculares__div--card{
        height: 1.5em;
        width: 6em;
        font-size: 1.3em;
        color: var(--color-quinario);
    }
    .p-default{
        font-size: 3.5rem;
    }
    
    form{
        width: 80%;
        margin: 1.5em auto;
    }
    
}