@media(max-width:400px){
    body{
        min-width: 360px;
    }
}

@media(min-width:401px){                /*  Quité todo esto porque conflictuaba con headerTabletWeb.css  */

    /* div.menu{
        display: none;
    }

    h5{
        margin-left: 8px;
    }

    .navBar{
        display: flex;
        width: 55%;
        justify-content: flex-end;
        margin-right: 20px;
        font-family: -webkit-pictograph;
    }

    #desplegable{
        width: auto;
    } */
}

@media(min-width:769px){

    section.registro{
        width: 40%;
        display: inline-block;
    }

    section.ejercicios,section.gruposMusculares{
        display: inline-block;
        width: 50%;
    }

    .gruposMusculares__div--card{
        height: 1.5em;
        width: 6em;
        font-size: 1.3em;
        color: var(--color-quinario);
    }
}