<header>
  <h1 class="title">RunApp</h1>
  <div class="menu">
      <button class="desplegable">
          <i class="fas fa-bars icono"></i>
      </button>
      <nav class="menu-contenido">
          <a class="menu-link" routerLink="../home2">Home</a>
          <a class="menu-link" routerLink="../misRutinas2">Mis Rutinas</a>
          <a class="menu-link" routerLink="../perfil2">Perfil</a>
          <a class="menu-link" routerLink="./login2">
              <i class="fas fa-sign-out-alt icono" id="logoff"></i>
          </a>
      </nav>
      <nav class="menu-web">
          <a class="menu-link-web" routerLink="../home2">Home</a>
          <a class="menu-link-web" routerLink="../misRutinas2">Mis Rutinas</a>
          <a class="menu-link-web" routerLink="../perfil2">Perfil</a>
          <a class="menu-link-web" routerLink="./login2">
              <i id="logoff-web" class="fas fa-sign-out-alt icono"></i>
          </a>
          
      </nav>
  </div>
</header>