<header>
  <h1 class="title">RunApp</h1>
  <div class="menu">
      <button class="desplegable">
          <i class="fas fa-bars icono"></i>
      </button>
      <nav class="menu-contenido">
          <a class="menu-link" href="./busquedaRutinas.html">Home</a>
          <a class="menu-link" href="./misRutinas.html">Mis Rutinas</a>
          <a class="menu-link" href="./usuario.html">Perfil</a>
          <a class="menu-link" href="../login.html">
              <i class="fas fa-sign-out-alt icono" id="logoff"></i>
          </a>
      </nav>
      <nav class="menu-web">
          <a class="menu-link-web" href="./busquedaRutinas.html">Home</a>
          <a class="menu-link-web" href="./misRutinas.html">Mis Rutinas</a>
          <a class="menu-link-web" href="./usuario.html">Perfil</a>
          <a class="menu-link-web" href="../login.html">
              <i id="logoff-web" class="fas fa-sign-out-alt icono"></i>
          </a>
      </nav>
  </div>
</header>