.boton-limpiar,
.boton-aceptar {
    width: 80%;
    height: 65%;
    gap: 1rem;
}

.grupoMarcador {
    margin: 5px;
}

.grupoMarcador:hover {
    background-color: rgb(58, 58, 192);
    color: white;
}

.color-tableHead {
    background-color: #9c27b0;
}

.table_body {
    background-color: #d5d5ca;
}

.table-head {
    background-color: #9c27b0;
}

.letra {
    font-weight: 500;
    color: white;
    font-size: 17px;
}

.defaultPageSize {
    min-height: 523px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorCancelar {
    color: white;
}