.grupoMarcador {
    margin: 5px;
}

.grupoMarcador:hover {
    background-color: #9c27b0;
    color: black;
    font-weight: bolder;
}

.color-tableHead,
.table-head {
    background-color: #9c27b0;
}

.letra {
    font-weight: 500;
    color: white;
    font-size: 17px;
}

.defaultPageSize {
    min-height: 523px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posicion-footer {
    min-height: 587px;
}