.boton-mediano {
    width: 45%;
}

.grupoMarcador{
    margin: 5px;
}

.grupoMarcador:hover{
    background-color: rgb(58, 58, 192);
    color: white;
}

.table_header {
    background-color: burlywood;
}

.table_body {
    background-color: #d5d5ca;
}

.table-head {
    background-color: #9c27b0;
}

.letra {
    font-weight: 500;
    color: white;
    font-size: 17px;
}