<body>
  <section class="card">
    <div class="card-title">
      <p class="p-default">Abdominales</p>
      <div>
        <i class="fas fa-stopwatch"></i>
        <p class="subtitulo__p">24 Minutos</p>
      </div>
    </div>
    <div class="box-container">

    </div>
    <div class="box-container">
      
    </div>
    <div class="posicion-botones">
      <button>Aceptar</button>
      <button>Cancelar</button>
    </div>
  </section>
</body>
<!--
<form class="ventana">
  <div class="ventana-title">
    <p>Texto 1</p>
    <div>
      Icono
      <p>Texto 2</p>
    </div>
  </div>
  <section class="form-content">
  
  </section>
  <div>
    
  </div>
</form>
-->