.card{
    /* margin-top: 124px; */
     border-color: grey;
     border-style: solid;
     background-color: var(--color-cuaternario);
     max-width: 769px;
     min-width: 280px;
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     align-items: center;
 }