.card{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:5rem;
    height: 100%;
}

.card__content{
    background-color: var(--color-terciario);
    width: 80%;
    height: auto;
    border-radius:8px;  
    box-shadow: 0 0.5em 0.5em 0 rgba(0,0,0,0.24);  
}

.encabezado{
    background-color: var(--color-secundario);
    border-radius:8px 8px 0 0;  
    height:20%;
}