footer {
    display: flex;
    background-color: var(--color-primario);
    width: 100%;
    padding: 3rem 0;
    color: var(--color-cuaternario);
    justify-content: center;
    gap: 1rem;
    align-items: center;
    position: absolute; /* <----- No funciona para todos */
    bottom: 0;
    font-size: 2.5rem;
}
#footer__relative{
    position:relative;
    margin-top: 3rem;
}

