header {
  padding: 3rem;
  background-color: var(--color-primario);
  color: var(--color-cuaternario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.title {
  font-size: 2em;
  font-family: "Lato", sans-serif;
}

.icono {
  /* padding-right: 1rem; */
  color: var(--color-cuaternario);
  font-size: 2em;
}
#logoff {
  font-size: 1.1em;
}
.menu-link{
  width: 100%;
}

.desplegable {
  background-color: var(--color-primario);
  color: var(--color-cuaternario);
  padding: 1.6rem;
  font-size: 1.6rem;
  border: none;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu-contenido {
  display: none;
  position: absolute;
  background-color: var(--color-primario);
  right: 0;
  z-index: 1;
}

.menu-contenido .menu-link {
  color: var(--color-quinario);
  padding: 1.2rem 1.42rem;
  text-decoration: none;
  display: block;
}

.menu-contenido .menu-link:hover,
.menu:hover .desplegable{
  background-color: #012c4b;
}

.menu:hover .menu-contenido {
  display: block;
}
