<section class="contenido-flex">
  <header class="ventana-title">
    <div class="header-informacion">
          <img src="../assets/img/usuario.jpg">
          <h2 class="nombre">Nazareno Peloso</h2>
      </div>
      <div class="header-informacion">
          <i class="fas fa-stopwatch header-tiempo"></i>
          <h3 class="header-tiempo">170 minutos</h3>
      </div>
  </header>
  <app-card> 
  <div class="box-container">
    <div>
      <label class="palabra">Actividad</label>
      <app-input placeholder="Nombre de la actividad aquí"></app-input>
    </div>
    <div>
      <label class="palabra">Frecuencia cardíaca base</label>
      <app-input placeholder="Valor numerico entero aquí"></app-input>
    </div>
  </div>
  <div class="box-container">
    <div class="checkbox-container">
      <input class="check__input" checked type="checkbox" />
      <h3>Con series</h3>
    </div>
    <div>
      <label class="palabra">Minutos de descanso</label>
      <app-input placeholder="Valor numerico entero aquí"></app-input>
    </div>
    <div>
      <label class="palabra">Cantidad de series</label>
      <app-input placeholder="Valor numerico entero aquí"></app-input>
    </div>
  </div>
</app-card>
</section>