<section class="contenido-flex">
  <header class="ventana-title">
    <div class="header-informacion">
          <h2 class="nombre"></h2>
      </div>
      <div class="header-informacion">
          <i class="fas fa-stopwatch header-tiempo"></i>
          <h3 class="header-tiempo"></h3>
      </div>
  </header>
  <app-card> 
  <div class="box-container">
    <div class="box-container__actividad">
      <label class="palabra">Actividad</label>
      <!-- <app-menuDesplegable (emisorDeEventos)="getMessage($event)" [coleccionRecibida]="actividades"></app-menuDesplegable> -->
      <!-- <p>Actividad elegida {{actividadElegida}}</p> -->
    </div>
    <div class="box-container__frecuencia">
      <label class="palabra">Frecuencia cardíaca base</label>
      <app-input placeholder="Ingrese frecuencia cardíaca"></app-input>
    </div>
  </div>

  <div class="box-container">
    <div class="checkbox-container">
      <input class="check__input" checked type="checkbox" />
      <h3>Con series</h3>
    </div>
    <div>
      <label class="palabra">Minutos de descanso</label>
      <app-input placeholder="Ingrese minutos"></app-input>
    </div>
    <div>
      <label class="palabra">Cantidad de series</label>
      <app-input placeholder="Ingrese series"></app-input>
    </div>
  </div>

  <div class="posicion-botones">
    <button class="button-secundario" (click)="redirigirGuardar()">Cancelar</button>
    <button class="button-primario" (click)="redirigirCancelar()">Guardar</button>
  </div>
</app-card>
</section>