.checkbox-container{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.4em;
}

.check__input{
    height: 20px;
    width: 30px;
    background-color: var(--color-primario);
    
}

.contenido-flex{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    max-width: 836px;
}

.ventana-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: var(--color-quinario);
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    padding: 5px;
    min-width: 280px;
}

.header-informacion{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
}

.box-container{
    min-width: calc( 769px/2 );
    flex-grow: 1;
    height: 301px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1em;
}

.box-container__actividad{
    position: relative;
    top: 38px;
}

.box-container__frecuencia{
    position: relative;
    top: 20px;
}

.header-tiempo {
    font-size: 1.8rem;
}

.nombre {
    font-size: 2em;
    margin: 0 0.3em;
    font-family: 'Roboto', sans-serif;
}

.palabra{
    font-size: 1.5rem;
    margin-left: 7px;
    margin-bottom: 10px;
}

.posicion-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 100%;
}

.button-guardar,
.button-cancelar
{
    background-color:var(--color-primario) ;
    border: none;
    color:var(--color-quinario);
    padding: 1em 1.4em;
    text-align: center;
    font-size: 1.8em;
    border-radius: 5rem;
    box-shadow: 0 0.5em 0.5em 0 rgba(0,0,0,0.24);
    font-family: "Roboto",sans-serif;
}

.button-cancelar{
    background-color: var(--color-quinario);
    color: var(--color-primario);
    border-style: solid;
    border-width: 0.2rem;    
}

.button-cancelar:hover{
    background-color: rgb(209, 202, 202);
}

.button-guardar:hover{
    background-color: rgb(94, 94, 216);
}

a{
    text-decoration: none;
    font-weight: bold;
}

.button-cancelar>a{
    color: var(--color-primario);
}

.button-guardar>a{
    color: var(--color-quinario);
}