<form>
    <section class="container">
        
            <div class="inicio">
                <img src="../../assets/images/Logo.svg" alt="logo" id="logo">
                <h1 class="titulo">RunApp</h1>
            </div>
            <div class="form_div">
                <label class="inputLabel">Usuario</label>
                <div class="campo">
                    <i class="fas fa-user"></i>
                    <app-input placeholder="Usuario"></app-input>
                </div>
            
                <label class="inputLabel">Contraseña</label>
                <div class="campo">
                    <i class="fas fa-key"></i>
                    <app-input placeholder="Contraseña"></app-input>
                </div>
            
            <button style="align-self:center" class="button-login" (click)="redirigir()">Ingresar</button>
        </div>
    </section>
</form>
<!-- 
<app-button placeholder="cancelar" estilo="button-secundario"></app-button> -->
