<body>
    
    <form>
        <section class="container">
            <div class="inicio">
                <img src="./assets/img/Logo.svg" alt="logo" id="logo">
                <h1 class="titulo">RunApp</h1>
            </div>
            
            <div class="form_div">
               
            </div>
            <app-button placeholder="Ingresar" estilo="button-login" [onClick]="redirigir"></app-button>
        </section>
    </form>
</body>


<!-- 
<app-button placeholder="cancelar" estilo="button-secundario"></app-button> -->

